* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

main {
    background-color: #e9e9e9;
}

/* Start .sub_header */
.sub_header {
    background-color: rgba(2, 2, 2, 0.5);
    color: rgba(255,255,255,0.66);
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.sub_header ul {
    padding-top: 5px;
}

.sub_header ul li {
    float: left;
    padding-left: 20px;
}

.sub_header a {
    color: white;
}

@media (max-width: 500px) {
    .sub_header {
        display: none;
    }
}

/* End .sub_header */

/* Start Navbar */

    .mainNavbar {
        padding: 15px;
        background-color: #0e8fc8;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mainNavbar ul {
        list-style-type: none;
    }

    .mainNavbar ul li {
        float: left;
        font-size: 19px;
        padding-left: 20px;
    }

    .mainNavbar ul li a {
        color: white;
        text-decoration: none;
    }

    .mainNavbar .buttons button {
        padding: 10px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        outline: none;
        cursor: pointer;
    }

    .mainNavbar .buttons button:hover{
        background-color: white;
        color: #0e8fc8;
    }

    .mainNavbar img {
        width: 30px;
    }

    .mainNavbar .buttons .bars {
        display: none;
        border: none;
        padding: 10px;
    }

    .mainNavbar .buttons .bars i {
        font-size: 23px;
    }


    @media (max-width: 900px) {

        .mainNavbar {
            justify-content: space-between;
        }

        .mainNavbar .items {
            display: none;
        }

        .mainNavbar img {
            width: 30px;
        }

        .mainNavbar .buttons .bars {
            display: block;
        }

        .mainNavbar .buttons .desktop_items {
            display: none;
        }
    }

/* End Navbar */

/* Start Header Background Image */

    .bg-image {
        width: 100%;
        height: 500px;
        
        background-image: url("../about_us/bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .bg-image h1 {
        color: #fff;
        font-size: 80px;
        font-weight: 600;
    }

    .bg-image p {
        color: #fff;
        letter-spacing: 2px;
        padding-top: 10px;
    }

    @media (max-width: 500px) {
        .bg-image h1 {
            font-size: 60px;
        }
    }
    
/* End Header Background Image */

/* Start mainContent */

    .mainContent {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .mainContent .plans, .mainContent .filterPlans {
        border: 1px solid red;
    }

    .mainContent {
        background-color: white;
    }

    .mainContent .filterPlans .filter_button {
        display: none;
        color: white;
        background: #0e8fc8;
        width: 123px;
        height: 32px;
        border: 1px solid #0e8fc8;
        font-size: 21px;
        outline: none;
        cursor: pointer;
    }

    .mainContent .plans {
        padding: 20px;
    }

    .mainContent .plans .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
    }

    @media screen and (max-width: 1200px) {
        .mainContent .plans .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 920px) {
        .mainContent .plans .container {
            grid-template-columns: 1fr;
        }
    }

    .mainContent .plans .container .singlePlan {
        border: 1px solid #ddd;
        box-shadow: 0 0 8px #dedede; 
        padding: 10px;
    }

    .mainContent .plans .container .singlePlan .flex {
        display: flex;
    }

    .mainContent .plans .container .singlePlan .flex img {
        margin-top: -13px;
        margin-left: 13px;
        padding-right: 12px;
        width: 70px;
    }

    .mainContent .plans .container .singlePlan .more {
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
    }

    .mainContent .plans .container .singlePlan .more a{
        color: #0e8fc8;
        font-weight: 700;
        text-decoration: none;
    }

    .mainContent .plans .container div p {
        margin-top: 20px;
        margin-left: 13px;
        /* padding: 10px; */
    } 

    @media screen and (max-width: 900px) {
        .mainContent {
            grid-template-columns: 1fr;
        }

        .mainContent .filterPlans .filter_button {
            display: block;
        }

        .mainContent .plans, .mainContent .filterPlans {
            padding: 20px;
        }
    }


/* End mainContent */