* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/* Start .sub_header */
.sub_header {
    background-color: rgba(2, 2, 2, 0.5);
    color: rgba(255,255,255,0.66);
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.sub_header ul {
    padding-top: 5px;
}

.sub_header ul li {
    float: left;
    padding-left: 20px;
}

.sub_header a {
    color: white;
}

@media (max-width: 500px) {
    .sub_header {
        display: none;
    }
}

/* End .sub_header */

/* Start Navbar */

    .mainNavbar {
        padding: 15px;
        background-color: #0e8fc8;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mainNavbar ul {
        list-style-type: none;
    }

    .mainNavbar ul li {
        float: left;
        font-size: 19px;
        padding-left: 20px;
    }

    .mainNavbar ul li a {
        color: white;
        text-decoration: none;
    }

    .mainNavbar .buttons button {
        padding: 10px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        outline: none;
        cursor: pointer;
    }

    .mainNavbar .buttons button:hover{
        background-color: white;
        color: #0e8fc8;
    }

    .mainNavbar img {
        width: 30px;
    }

    .mainNavbar .buttons .bars {
        display: none;
        border: none;
        padding: 10px;
    }

    .mainNavbar .buttons .bars i {
        font-size: 23px;
    }


    @media (max-width: 900px) {
        .mainNavbar {
            justify-content: space-between;
        }

        .mainNavbar .items {
            display: none;
        }

        .mainNavbar img {
            width: 30px;
        }

        .mainNavbar .buttons .bars {
            display: block;
        }

        .mainNavbar .desktop_items {
            display: none;
        }
    }

/* End Navbar */

/* Start Main */
    
    .header-container {
        margin-top: 20px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
    }

    .header-container .upload-container {
        background-color: rgba(0, 142, 198, 1);
        padding: 50px;
    }

    .header-container .upload-container form {
        display: grid;
        justify-items: center;
        margin-top: 8px;
    }

    .header-container .upload-container i {
        font-size: 30px;
        color: #fff;
        display: flex;
        justify-content: center;
    }

    .header-container .upload-container form label {
        font-size: 20px;
        color: #fff;
    }

    .header-container .upload-container form button {
        background: #0CE9AF;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
        color: #fff;
        display: -webkit-box;
        font-size: 18px;
        font-weight: 700;
        margin: auto;
        overflow: auto;
        padding: 12px;
        margin-top: 20px;
    }

    .header-container .contacts-container table {
        width: 500px;
        height: 250px;
    }

    .header-container .contacts-container table i {
        cursor: pointer;
    }

    .header-container .contacts-container table input,
    .header-container .contacts-container table select {
        display: none;
    }

    .header-container .contacts-container table #gender_td .gender_container {
        display: none;
    }

    @media (max-width: 860px) {
        .header-container {
            flex-wrap: wrap;
        }

        .header-container .upload-container {
            width: 400px;
        }
    }

    @media (max-width: 550px) {
        .header-container {
            flex-wrap: wrap;
        }

        .header-container .upload-container {
            width: 100%;
        }

        .header-container .contacts-container {
            width: 100%;
        }

        .header-container .contacts-container table {
            width: 100%;
        }
    }

    .buisness_plan_container, 
    .bio_container, 
    .price_container, 
    .skills_container, 
    .social_media {
        margin-top: 20px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
    }

    .buisness_plan_container .text_container, 
    .bio_container .text_container, 
    .price_container .text_container,
    .skills_container .text_container,
    .social_media .text_container{
        width: 900px;
        border: 1px solid red;
    }

    .buisness_plan_container .text_container .head, 
    .bio_container .text_container .head, 
    .price_container .text_container .head, 
    .skills_container .text_container .head,
    .social_media .text_container .head {
        font-size: 26px;
        font-weight: 700;
    }

    .buisness_plan_container .text_container p, 
    .bio_container .text_container p, 
    .price_container .text_container p {
        font-size: 17px;
        padding-top: 15px;
        line-height: 25px;
    }

    .buisness_plan_container .text_container i, 
    .bio_container .text_container i, 
    .price_container .text_container i,
    .skills_container .text_container i {
        font-size: 14px;
        padding-left: 5px;
        cursor: pointer;
    }

    .skills_container .text_container .skills_cotnainer {
        padding-top: 15px;
    }

    .skills_container .text_container .skills_cotnainer .skill_item {
        padding: 8px 25px;
        background: #0e8fc8;
        border-radius: 20px;
        margin-right: 10px;
        display: inline-block;
        margin-bottom: 5px;
        color: #fff;    
    }

    .social_media .media_cotnainer img {
        width: 30px;
    }

    .social_media .media_cotnainer .flex {
        display: flex;
        align-items: center;
        padding-top: 20px;
    }

    .social_media .media_cotnainer .flex p {
        padding-left: 10px;
        font-size: 16px;
    }

/* End Main */